syntax: glob
*~
*.pyc
*.pyo
.DS_Store
.nose
*.egg-info
*.bak
*.rej
*$py.class
*.orig
example.cfg
.coverage
nosetests.xml
xunit.xml
_env
doc/.build
dist
build
.noseids
.tox
.*.sw[nop]
.idea/

tmp/
.ipynb_checkpoints/

workspace.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
